<div class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div
          class="container-rounded text-light p-5 justify-content-center align-items-center text-center"
        >
          <img class="avatar mb-2" />
          <h5 class="text-light">John Doe</h5>
          <div class="mb-2">Software Engineer</div>
          <p>(011) 681 6001</p>
          <a>johndoe@astro.com</a>
        </div>
        <div
          class="container-rounded text-light mt-5 p-5 justify-content-center align-items-center text-center"
        >
          <div class="container-device">
            <img src="../assets/PurpleIcon.svg" alt="" />
          </div>
          <br />
          <button class="btn btn-primary mb-2">Dispense Now</button>
          <button class="btn btn-link text-secondary">
            Schedule Dispenser
          </button>
        </div>
      </div>
      <div class="col-9">
        <div class="container-rounded p-4">
          <h4>Upcoming Nybbles</h4>
          <br>
          <div class="card"><div class="card-body"></div></div>
          <div class="card"><div class="card-body"></div></div>
          <div class="card"><div class="card-body"></div></div>
          <div class="card"><div class="card-body"></div></div>
          <div class="card"><div class="card-body"></div></div>
          <div class="card"><div class="card-body"></div></div>
          <div class="card"><div class="card-body"></div></div>
          <div class="card"><div class="card-body"></div></div>
        </div>
        <br />
        <div class="container-rounded p-4">
          <h4>My Devices</h4>
          <br>
          <div class="d-flex">
            <div class="card"><div class="card-body"></div></div>
            <div class="card"><div class="card-body"></div></div>
            <div class="card"><div class="card-body"></div></div>
            <div class="card"><div class="card-body"></div></div>
            <div class="card"><div class="card-body"></div></div>
            <div class="card"><div class="card-body"></div></div>
            <div class="card"><div class="card-body"></div></div>
            <div class="card"><div class="card-body"></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
