<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-12 justify-content-center align-items-center text-center">
        <div
          class="container-rounded text-light p-5 justify-content-center align-items-center text-center"
        >
          <img class="avatar mb-2" />
          <h5 class="text-light">John Doe</h5>
          <div class="mb-2">Software Engineer</div>
          <p>(011) 681 6001</p>
          <a>johndoe@astro.com</a>
        </div>
        <div
          class="container-rounded text-light mt-3 p-5 "
        >
          <div class="container-device mx-auto mb-2">
            <img class="img-fluid" [src]="'../assets/' + selectedDevice?.color + '.svg'" alt="" />
          </div>
          <br />
          <button class="btn btn-primary mb-2" [disabled]="selectedDevice == null">Dispense Now</button>
          <button class="btn btn-link text-secondary" [disabled]="selectedDevice == null">
            Schedule Dispenser
          </button>
        </div>
      </div>
      <div class="col-xl-9 col-md-12 mt-3">
        <app-nybble-events></app-nybble-events>
        <br />
        <app-nybble-devices (selectDevice)="setSelectedDevice($event)"></app-nybble-devices>
      </div>
    </div>
  </div>
</div>
